* {
    margin: 0;
    padding: 0;
}
.container{
    margin: 10px;
}
.slider{
    width: 600px;
    height: 200px;
    margin: auto;
    position: relative;
}
.slider .item{
 display: none;
}

.slider .item .titulo{
    background-color: #a19f9f;
    padding: 4%;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.slider .item .conteudo{
    background-color: #99c979;
    padding: 4%;
    font-size: 20px;
    text-align: center;
}
.slider .item .conteudo span{
    display: block;
}
.slider .item.active{
    display: block;
}
.slider .arrow{
    position: absolute;
    top: 50%;
    font-size: 30px;
    transform: translate(0,-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px 10px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}
.slider .arrow.right{
    right: 0;
}




