.item > li{
    list-style: none;
}
.item > li > a{
    border: none;
    outline: none;
    transition: all 300ms;
    display: block;
    text-decoration: none;
    color: rgb(59, 59, 59);
}
.item:active{
    box-shadow: 4px 4px 3px rgba(122, 121, 121, 0.8);
    transform: translate(4px, 4px);
}
.button{
    
}

    
.itemIniciado{
    background: rgb(235, 255, 56);
}
.itemConcluido{
    background: rgb(79, 255, 56);
}
.itemNaoIniciado{
    background: rgb(255, 56, 56);
}
